body{
    margin:0;
  }
  
  .dispo-logo {
    padding-top: 10px;

  }
  .color-site{ 
    text-align: center;
  margin-bottom: 0%;
}
  .site-header {
      background: #6C63FF;
      color: #fff;
   text-align: center;
   display:block;
   margin: 0px 0px 0em 0%;
   padding-bottom:20px;
  }


   .p-mot { 
    color: #6C63FF;
  
   }
  
   .p-mot {
  color: #6C63FF;
  }
  
  .service-mot {
   color: #6C63FF; 
  }
  h1 {
    
    text-align: center;
    height: 80px;
    font-size: 28px;   
  }
  

  article {
    box-shadow: 4px 4px 4px 2px #aaa;
    border-radius: 20px;
  padding: 20px;
}


.site-link { 

  background: #6C63FF;
display:block;

padding: 10px;
display:block; 
color: #fff;
text-decoration: none;
}


.site-link-active {
  background: #150ABC;}


  .clic-link 
{
  background: #6C63FF;
  color: #fff;
  border-radius: 30px;
 display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  margin-left: 35%;
  padding-left: 30px;
  padding-right: 30px;
}

.aside {
  padding-bottom: 40px;
}

.para-prix {
  margin-left: 40%;

}
.para-prixx {
  margin-left:30% ;
}
.link1
{
  text-decoration: none;
  display:block;
  color: #fff;
  text-align: left;
  margin-left: 10px;
  line-height: 25px;
}


.contaner-header {
  display: flex;
  justify-content: space-between;
  background-color: #6C63FF;

}
