* {
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.dispo-logo {
  padding-top: 10px;

}
.site-header {
 background: #6C63FF;
 color: #fff;
 text-align: center;
 display:block;
 margin: 0px 0px 0em 0%;
 padding:0;
 border-bottom: 1px solid #5F56EC;

}


 .p-mot { 
  color: #6C63FF;

 }

 .p-mot {
color: #6C63FF;
}

.service-mot {
 color: #6C63FF; 
}

h1 {
  
  text-align: center;
  height: 80px;
  font-size: 28px;   
}

.first-title{
  margin-left: 10px;
}

article {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin-bottom: 3rem;
  
 
}
 
.site-link:hover {
  background-color: #150ABC;
}

.site-link { 
background: #6C63FF;
display:block;
padding: 10px;
display:block; 
color: #fff;
text-decoration: none;
}



.clic-link 
{
background: #6C63FF;
color: #fff;
border-radius: 30px;
display: inline-block;
padding: 15px;
text-decoration: none;
text-align: center;
padding-left: 30px;
padding-right: 30px;

}
.btn-center{
  text-align: center;
}

.aside {
padding-bottom: 40px;
}

.para-prix {
text-align: center;

}
.para-prixx {
text-align: center;
}
.link1
{
text-decoration: none;
display:block;
color: #fff;
text-align: left;
margin-left: 10px;
line-height: 25px;
}


.contaner-header {
display: flex;
justify-content: space-between;
background-color: #6C63FF;
position:relative;

}

.color-site{ 
  font-weight: bolder;
  font-size: 32px ;
text-align: center;
margin-bottom: 0%;
margin-left: 20px;
margin-top:10px;

}

.site-link { 
  background: #6C63FF;
  display:block;
  color: #fff;
  text-decoration: none;
  margin-top: 0px;
  padding: 10px;
  border-bottom: 1px  solid #1F14CC ;

}


.p-mot { 
  color: #6C63FF;

 }

 .p-mot {
color: #6C63FF;
}

.service-mot {
 color: #6C63FF; 
}
h1 {
  
  text-align: center;

 
}
.titre-voyage
{
text-align:center;
}

.img-center { 
  width: 100%;
  }



  .para-1 
{
  text-align: center;
   
  padding-bottom: 1px;
  display:block;
  
}

#para-2 
{
  text-align: center;
   
  padding-bottom: 1px;
  display:block;
  
}

p {
  text-align: center

}

.clic-link-qst {
  text-decoration: none;
  color:black;
  margin-left: 10px;

}
article {
  box-shadow: 4px 4px 6px #aaa;
  border-radius: 20px;
padding: 20px;
}

.link-questions 
{
  background: #ebebeb;
  padding:20px;
}

 section {
  box-shadow: 4px 4px 6px #aaa;
  border-radius: 20px;

}

.box-text {
  padding: 20px;
}

.site-link1 {
  background: #6C63FF;
  display:block;
  padding: 10px; 
  color: #fff;
  text-decoration: none;
  margin-left: 0%;
  

}

footer {
padding: 20px;
}
.link1
{
  text-decoration: none;
  display:block;
  color: #fff;
  text-align: left;
  line-height: 25px;
}
.item{
  opacity: 1;
cursor: pointer;
background-color: white ;
border: 1px solid #D0D0D0;
margin: 0px 16px;
padding: 25px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
color:#8F8F8F;
display: flex;
justify-content: space-between;

}

.item2{
  border-top-left-radius: 12px;
border-top-right-radius:12px;

}
.item3{
  border-bottom-left-radius: 12px;
border-bottom-right-radius:12px;
}
.clic-reservation{
  background: #E2E2E2;
  color:black;
  border-radius: 20px;
 display: inline-block;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  
}
.clic-reservation2 {
  background: #5F56EC;
  color:white;
  border-radius: 20px;
 display: inline-block;
  padding: 8px;
  text-decoration: none;
  text-align: center;

}

.aside {
  padding-bottom: 50px;
}


.contaner-header {
  padding: 0;
  display: flex;
  background-color: #6C63FF;
justify-content: space-between;

}

.logo-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.fondairrocket{
height: 400px;
background-size: cover;

background-image: url("image-fond/pexels.png");
display: flex;
background-position: center ;
}

.paragraphe-fontsize {
  font-size: 32px;
  text-align: center;
  color: white;
  
}

.titres-site
{ margin-left: 10px;

}


.last-paragraphe {
  text-align: center; 
  font-size: 35px;

}


.container-div {
  box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
  border-radius: 20px;
  margin-bottom:70px ;
}

.items {
  border-bottom: 1px solid #D0D0D0;
  margin: 0px 16px;
  padding: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color:#8F8F8F;

}
.titlesss {
  text-align: center;
  padding-top: 20px;
}

.link-choice {
  background: #5F56EC;
  color:white;
  border-radius: 20px;
 display: inline-block;
  padding: 13px;
  margin-left: 40%;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.box {
  background: #4cAF50;
  border-radius: 9999px;
  color: #ffffff;
  display: inline-block;
 padding: 10px;
text-align: center;
    background-position: top;
    position: absolute;
    top: 57%;
    left: 40%;
    right:40%;
}

.options-header{
  margin-bottom: 20px;
}

.avatar-rouge{

    display: flex;
    align-self: center;
    align-items: center;
}


.text-descrption-mars{
  font-size: 16px;
    margin-top: 0px;
    text-align: left;
}