body{
    margin:0;
  }
  
  .dispo-logo {
    padding-top: 30px ;
  }
  
  
  
  
  .site-header {
      background: #6C63FF;
      color: #fff;
   text-align: center;
   
   display:block;
   margin: 0px 0px 0em 0%;
}

.site-link { 

    background: #6C63FF;
  display:block;
  
  padding: 10px;
  display:block; 
  color: #fff;
  text-decoration: none;
}

.site-link-active {
  background: #150ABC;